<p id="notice"><%= notice %></p>

<p>
  <strong>Rankee:</strong>
  <%= @ranking.rankee %>
</p>

<p>
  <strong>Ranker:</strong>
  <%= @ranking.ranker %>
</p>

<p>
  <strong>Score:</strong>
  <%= @ranking.score %>
</p>

<%= link_to 'Edit', edit_ranking_path(@ranking) %> |
<%= link_to 'Back', rankings_path %>
